<div class='row'>
	<div class='col-xs-3'>
		<h2>Security CheckUps</h2>
	</div>
</div>
<div class='row'>

	<div class='col-xs-3'>
	<h3>Current Quarter:<b> Q<%= q_number(Date.today) %></b></h3>
	</div>
	</div>
<br>
<br>
<div class='row'>
<div class='col-xs-12'>
<table class='table table-bordered table-striped'>
  <tr>
  <th>Date added</th><th>Security Engineer</th><th>Account Manager</th><th>Partner</th><th>Link to CheckUp</th>
</tr>
<%= render @scus %>
</table>
</div>
</div>
<hr>
<div class='row'>
<div class='col-xs-3'>
<%= link_to("Upload new SCU", new_check_ups_path, class: 'btn btn-success') %>
</div>

</div>