<tr>
  <td><%= check_up.created_at %></td>
  <td><%= check_up.security_engineer_name %></td>
  <td><%= check_up.account_manager_name %></td>
  <td><%= check_up.partner_name %></td>
  <td><%= link_to "Download", '/uploads/' + check_up.file_uuid + File.extname(check_up.original_file_name), class: 'btn btn-success' %></td>
</tr>