<div class='row'>
  <div class='col-xs-12'>
    <h2>New Security CheckUp</h2>
  </div>
</div>
<% if flash[:error] %>
 
<% end %>
<div class='row'>
  <div class='col-xs-4'>
    <%= form_for @checkup do |f| %>
      <div class='form-group'>
        <%= f.label :security_engineer_name, "SE Name" %>
        <%= f.text_field :security_engineer_name, class: 'form-control' %>
      </div>
      <div class='form-group'>
      <%= f.label "Account Manager Name"%>
      <%= f.text_field :account_manager_name, class: 'form-control' %>
      </div>
      <div class='form-group'>
      <%= f.label "Partner Name"%>
      <%= f.text_field :partner_name, class: 'form-control' %>
      </div>
      <div class='form-group'>
      <%= f.label "Upload file"%>
      <%= f.file_field :filename, class: 'form-control' %>
      </div>
      <%= f.submit "Upload", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>